.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 90%;
    font-family: Times;
    padding: 7px 15px 7px 15px;
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: lightgrey;
}

.center {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 5% 0;

}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    padding: 5% 0;
}

.container-ending {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    padding: 5% 0 0 0;
}

.form-field {
    border-width: medium;
}

.instruction-padding {
    margin: 5% 15% 5% 15%;
}

.new-game-button {
    margin: 10%;
}

.text-field {
    display: flex;
    width: 97%;
    border-width: medium;
    font-size: 100%;
    font-family: Times;
}

.user-code {
    font-size: 200%;
    font-family: Times;
    flex: 1;
}

.code-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}